<body>

  <div class="container">

      <div class="jumbotron">
        <h1>To-do</h1>
        <p class="lead">A self-destructing to-do list to keep you focused<br/>on the things that really matter.</p>
        <br/>
        <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-success" %></p>
      </div>


  </div>

</body>  
