<body>

  <div class="container">

      <div class="jumbotron">
        <h1>To-do</h1>
        <p class="lead">A self-destructing to-do list to keep you focused<br/>on the things that really matter.</p>
        <br/>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up</a></p>
      </div>

      <footer class="footer">
        <p>&copy; Bruno Gabrielli 2014</p>
      </footer>

  </div>

</body>  
