<%= form_for [item], remote: true, html: {id: dom_id(item)} do |f| %>
  <div class="form-group">
    <%= f.text_field :name, rows: 1, cols: 10, class: 'form-control', placeholder: "To-do..." %>
  </div>
<% end %>